// Primary
$blue: hsl(223, 87%, 63%);

// Secondary
$pale_blue: hsl(223, 100%, 88%);
$light_red: hsl(354, 100%, 66%);

// Neutral
$gray: hsl(0, 0%, 59%);
$veryDarkBlue: hsl(209, 33%, 12%);

// Media Queries
@mixin mq($size) {
@media only screen and (min-width: $size) {
  @content
 }
}

// Screens
$small: 375px;
$large: 768px;

// GLOBAL
body {
  font-size: 20px;
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 5vh;
  color: $veryDarkBlue;
}
img {display: block;}
.ping, main h1, main p {text-align: center; margin: auto;}
.ping {
  padding-bottom: 2rem;
  width: 4rem;
  max-width: 300px;
}

main span {font-weight: 600; color: $veryDarkBlue;}
main {text-align: center;}

main h1 {
  font-weight: 300;
  color: $gray;
  padding-block: 1rem;
  @include mq($small) {
    font-size: 1.6rem;
  }
  @include mq($large) {
    font-size: 3rem;
  }
}

main p {
  font-size: .75rem;
  @include mq($large) {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:1rem auto 0 auto;
  gap: 1rem;
  position: relative;
  width: 100%;
  @include mq($large) {
    flex-direction: row;
  }
  @include mq($small) {
    max-width: 76%;
  }
}

form.error input[type="email"] {
	border-color: $light_red;
  margin-bottom: 30px;
  @include mq($large) {
  	margin-bottom: 0;
	}
}

form .error_text {
	position: absolute;
	top: 55px;
	font-size: .75rem;
	color: $light_red;
	font-weight: 500;
	font-style: italic;
  @include mq($large) {
    left: 15rem;
    margin-block: -15px;
    font-size: .85rem;
    top: 70px;
  }
}

.email {
  border-radius: 40px;
  border: 1px solid rgba(105, 108, 107, 0.23);
  color: $gray;
  height: 42px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  padding-left: 30px;
  @include mq($large) {
      max-width: 370px;
  }
}
.email::placeholder {
  color: $pale_blue;
	font-family: 'Libre Franklin', sans-serif;
}

.notify {
  background-color: $blue;
  color: white;
  font-weight: 700;
  width: 110%;
  height: 45px;
  border-radius: 40px;
  border: none;
  outline: none;
  letter-spacing: 1.1px;
  cursor: pointer;
  font-family: 'Libre Franklin', sans-serif;
  -webkit-box-shadow: 3px 17px 35px -5px rgba(70,89,171,0.23);
  -moz-box-shadow: 3px 17px 35px -5px rgba(70,89,171,0.23);
  box-shadow: 3px 17px 35px -5px rgba(70,89,171,0.23);
  @include mq($large) {
    margin: 0;
		max-width: 240px;
	}
}

.notify:hover {opacity: .8; cursor: pointer;}

.hero {
  margin: 4vh auto;
  max-width: 700px;
  @include mq($small) {
    width: 90%;
  }
  @include mq($large) {
    margin-top: 10vh;
  }
}

.social-holder {
  text-align: center;
  margin: auto;
  @include mq($small) {
    margin-top: 7rem;
  }
  @include mq($large) {
    margin-top: 5rem;
  }
}

.social-holder .fab {
  display: inline-block;
  padding: 8px;
  color: $blue;
  font-size: 1rem;
  margin-bottom: 2rem;
  @include mq($large) {
    margin-bottom: 1rem;
  }
  margin-right: .8rem;
  border: 1px solid rgba(105, 108, 107, 0.13);
  border-radius: 50%;
}
.social-holder .fab:hover {
  color: white;
  background-color: $blue;
}

footer p {
  color: $gray;
  font-size: .7rem;
  text-align: center;
}
